.*scada/
.nicegui/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env*
pythonanywhere.txt
METHODOLOGY.*
fixtures
pycrucible*
flowline*.exe*
.ruff_cache/
build/
dist/
.venv/
logs/
*.log
